@import "../../styles/global.scss";

$border_radius_top: $rounded_corners $rounded_corners 0 0;
$deployed_button_div_width: 20%;
$deployed_button_size: 2em;

.projects_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
}

.projects_deployed_div {
  display: flex;
  flex-direction: column;
  padding: 0.25em 0;
  width: $deployed_button_div_width;
}

.projects_deployed_1 {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.projects_desc_div {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100 - $deployed_button_div_width;
}

.projects_description {
  color: #444444;
  font-size: $h6;
  margin-left: 16px;
  padding: 0.25em 0;
}

.projects_ends_div {
  display: flex;
  flex-direction: column;
}

.projects_header_div {
  background-color: white;
  border-radius: 0 0 $rounded_corners $rounded_corners;
  box-shadow: 0px -5px 15px black;
  display: flex;
  position: relative;
}

.projects_img {
  border-radius: $border_radius_top;
  height: 100%;
  width: 100%;
}

.projects_item {
  border: 2px solid black;
  border-radius: $rounded_corners;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 45%;
}

// Area for details of project
.projects_overlay {
  background-color: #008cba;
  border-radius: $border_radius_top;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease;
}

// Container holding image and overlay
.projects_overlay_container {
  position: relative;
}

// On hover -> display overlay
.projects_overlay_container:hover .projects_overlay {
  opacity: 1;
}

.projects_sources {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.projects_title {
  font-size: $h4;
  font-weight: bold;
  margin-left: 16px;
  padding-top: 4px;
}

.projects_try_icon {
  height: $deployed_button_size;
  width: $deployed_button_size;
}

.projects_try_icon > img {
  height: $deployed_button_size;
  width: $deployed_button_size;
}

.projects_try_icon:hover {
  background-color: #bbbbbb;
  border-radius: $rounded_corners;
}

.projects_try_label {
  font-size: 0.9em;
  font-weight: bold;
}
