@import "../../styles/global.scss";

// Radius of company logo image
$logo_radius: 1.5em;
// Offset to line up company name and logo
$company_name_offset: 2em;

.exp_accomplishments {
  // background-color: #ebebeb;
  border-radius: $rounded_corners;
  list-style-type: none;
  margin: 0 2em;
  padding: 0.5em 1em;
  text-align: left;
}

.exp_accomplishments > li {
  color: white;
  font-weight: bold;
  margin: 0 0 0.5em 2em;
  padding: 0.25em;
}

.exp_company_logo {
  // TODO: replace with better company logos
  background-color: white;
  border-radius: 50%;
  height: $logo_radius * 2;
  margin-top: 2em;
  position: absolute;
  top: 0;
  width: $logo_radius * 2;
}

.exp_company_logo > img {
  height: 100%;
  width: 100%;
}

.exp_company_logo_left {
  right: -$logo_radius;
}

.exp_company_logo_right {
  left: -$logo_radius;
}

.exp_company_name {
  color: #ffb182;
  font-size: $h5;
  margin: 0;
}

// Main container for Experiences component
.exp_container {
  position: relative;
}

.exp_label_container {
  align-items: center;
  display: flex;
  margin: 0 0 0 1em;
}

.exp_item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  width: 100%;
}

.exp_item_container {
  padding: $company_name_offset 0;
  position: relative;
  width: 50%;
}

.exp_item_labels {
  display: flex;
  justify-content: center;
}

.exp_label_icon {
  height: $h5;
  margin-right: 0.25em;
  width: $h5;
}

.exp_role {
  font-size: $h6;
  font-weight: bold;
  margin: 0.1em 0 0 0.5em;
}

.exp_table {
  margin: auto;
  table-layout: fixed;
  width: 90%;
}

.exp_technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0 2em;
  padding: 0 1em;
}

.exp_technologies > li {
  background-color: #1264a5;
  border-radius: $rounded_corners;
  color: white;
  font-weight: bold;
  margin: 0 0.1em 1em 0;
  padding: 0.5em 1em;
}

.exp_timeline {
  background-color: #d4af37;
  height: 98%;
  margin: auto;
  left: 0;
  position: absolute;
  right: 0;
  width: 3px;
}

.exp_title {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}
