@import "../../styles/global.scss";

// Radius of company logo image
$logo_radius: 2em;
// Padding between two table items
$item_padding: 1em;

.exp_accomplishments {
  background-color: #ebebeb;
  border-radius: $rounded_corners;
  list-style-type: none;
  margin: 0.5em 2em;
  padding: 0.5em 1em;
  text-align: left;
}

.exp_accomplishments > li {
  color: #333333;
  margin: 0.5em 0;
  padding: 0.25em;
}

.exp_company_logo {
  // TODO: replace with better company logos
  background-color: white;
  height: $logo_radius * 2;
  margin-top: $item_padding;
  position: absolute;
  top: 0;
  width: $logo_radius * 2;
}

.exp_company_logo > img {
  height: 100%;
  width: 100%;
}

.exp_company_logo_left {
  right: -$logo_radius;
}

.exp_company_logo_right {
  left: -$logo_radius;
}

.exp_company_name {
  color: #0d0d76;
  font-size: $h5;
  margin: 0;
}

// Main container for Experiences component
.exp_container {
  position: relative;
}

.exp_label_container {
  align-items: center;
  display: flex;
  margin: 0.25em 0 0.25em 1em;
}

.exp_item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  width: 90%;
}

.exp_item_container {
  // border: 1px solid black;
  padding: ($item_padding + 0.8) 0;
  position: relative;
  width: 50%;
}

.exp_item_labels {
  display: flex;
  justify-content: center;
}

.exp_label_icon {
  height: $h5;
  margin-right: 0.25em;
  width: $h5;
}

.exp_list_row {
  width: 100%;
}

.experiences_work_div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.5em;
}

.exp_table {
  margin: auto;
  table-layout: fixed;
  width: 80%;
}

.exp_table_content {
  background-color: red;
  width: 50%;
}

.exp_technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0.5em 2em;
  padding: 0.5em 1em;
}

.exp_technologies > li {
  background-color: #2196f3;
  border-radius: $rounded_corners;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
}

.exp_timeline {
  background-color: teal;
  // height: 500px;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  width: 3px;
}
