$company_name_color: #ffb182;
// Offset to line up company name and logo
$company_name_offset: 2em;
// Radius of company logo image
$logo_radius: 1.5em;
$logo_padding: 2em;

.exp_accomplishments {
    border-radius: $rounded_corners;
    list-style-type: none;
    margin: 0 auto;
    padding: 0.5em 1em;
    width: fit-content;
}

.exp_accomplishments > li {
    color: white;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 0.25em;
}

.exp_company_logo {
    border-radius: 50%;
    height: $logo_radius * 2;
    margin-top: 1em;
    padding: 1em $logo_padding;
    position: absolute;
    top: 0;
    width: $logo_radius * 2;
}

.exp_company_logo > img {
    height: 100%;
    width: 100%;
}

.exp_company_logo_left {
    right: -$logo_radius - $logo_padding;
}

.exp_company_logo_right {
    left: -$logo_radius - $logo_padding;
}

.exp_company_name {
    color: $company_name_color;
    font-size: $h3;
    margin: 0;
}

// Main container for Experiences component
.exp_container {
    position: relative;
}

.exp_label_container {
    align-items: center;
    display: flex;
    margin: 0 0 0 1em;
}

.exp_item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5em;
}

.exp_item_container {
    position: relative;
    width: 50%;
}

// -- Hover animation for company logo

// On hover, styling for the arrow
.exp_item_container:hover .exp_company_logo_hover:before {
    border-style: solid;
    border-width: 0.5em;
    content: '';
    position: absolute;
    right: $logo_padding + 1em;
    top: calc(50% - 0.5em);
    z-index: 1;
}

// Hover transitions no matter the direction
.exp_company_logo_hover {
    transition: all 0.5s ease;
}

// [LEFT] Company logo has specific translation direction
.exp_item_container:active .exp_company_logo_hover_left,
.exp_item_container:focus .exp_company_logo_hover_left,
.exp_item_container:hover .exp_company_logo_hover_left {
    transform: translateX(-$logo_radius - 1em);
}

// [LEFT] arrow needs specific border color and translation direction
.exp_item_container:active .exp_company_logo_hover_left::before,
.exp_item_container:focus .exp_company_logo_hover_left::before,
.exp_item_container:hover .exp_company_logo_hover_left::before {
    border-color: transparent #e1e1e1 transparent transparent;
    transform: translateX(-$logo_radius - 1em);
}

// [RIGHT] Company logo has specific translation direction
.exp_item_container:active .exp_company_logo_hover_right,
.exp_item_container:focus .exp_company_logo_hover_right,
.exp_item_container:hover .exp_company_logo_hover_right {
    transform: translateX($logo_radius + 1em);
}

// [RIGHT] arrow needs specific border color and translation direction
.exp_item_container:active .exp_company_logo_hover_right:before,
.exp_item_container:focus .exp_company_logo_hover_right:before,
.exp_item_container:hover .exp_company_logo_hover_right:before {
    border-color: transparent transparent transparent #e1e1e1;
    transform: translateX($logo_radius + 1em);
}

.exp_item_labels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exp_label_icon {
    height: $h4;
    margin-right: 0.25em;
    width: $h4;
}

.exp_role {
    font-size: $h5;
    font-weight: bold;
    margin: 0.1em 0 0 0.5em;
}

.exp_table {
    margin: 1em auto;
    width: 90%;
}

.exp_tech_border_div {
    background: $company_name_color;
    height: 2px;
    margin: auto;
    width: 80%;
}

.exp_tech_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0 auto;
    padding: 0 1em;
    width: 50%;
}

.exp_tech_list_icon {
    height: $h1;
    margin: 4px;
    width: $h1;
}

.exp_tech_list_item {
    align-items: center;
    border-radius: $rounded_corners;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
    position: relative;
}

.exp_tech_list_item:hover {
    // TODO: fix color / more interesting hover perhaps
    background: #858585aa;
}

.exp_tech_list_item:hover span {
    visibility: visible;
}

.exp_tech_list_text {
    position: absolute;
    bottom: -$h5;
    font-size: $h6;
    font-weight: bold;
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
}

.exp_tech_title {
    font-size: $h5;
    font-weight: bold;
    margin: 0.5em 0;
}

.exp_timeline {
    background-color: #d4af37;
    height: 98%;
    margin: auto;
    left: 0;
    position: absolute;
    right: 0;
    width: 3px;
}

.exp_title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5em;
}

// Mobile styling
@media only screen and (max-device-width: 800px) {
    td {
        display: none;
    }

    .exp_company_logo {
        margin: 0 auto;
    }

    .exp_company_logo_left,
    .exp_company_logo_right {
        left: 0;
        right: 0;
    }

    .exp_item_container:hover,
    .exp_company_logo_hover,
    .exp_item_container:hover .exp_company_logo_hover_left,
    .exp_item_container:hover .exp_company_logo_hover_right {
        transform: none;
    }

    .exp_company_logo_hover::before {
        display: none;
    }

    .exp_item_content {
        background-color: #76767645;
        border-radius: $rounded_corners;
        margin-top: $logo_radius * 2 + 0.5em;
        padding-bottom: 0.5em;
    }

    .exp_item {
        padding: 0.5em 0;
    }

    .exp_item_container {
        display: table-cell;
        width: 100%;
    }

    #exp_role_hyphen,
    .exp_timeline {
        display: none;
    }
}
