.navbar_anchor {
    color: white;
    text-decoration: none;
}

.navbar_item {
    cursor: pointer;
    font-size: $h4;
    margin: 0 0.5em 0.5em 0.5em;
    padding: 0;
}

.navbar_item:active,
.navbar_item:focus,
.navbar_item:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}

.navbar_item h5 {
    margin: 0;
}

.navbar_navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
