$h1: 3.5em;
$h2: 3em;
$h3: 2.5em;
$h4: 2em;
$h5: 1.7em;
$h6: 1em;

$rounded_corner: 0.5em;

body {
  margin: auto;
  font-family: "Helvetica", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
