$h1: 3em;
$h2: 2.5em;
$h3: 2em;
$h4: 1.7em;
$h5: 1.4em;
$h6: 1em;
$h7: 0.9em;
$h8: 0.8em;

$rounded_corners: 0.5em;
$rounded_corners_subtle: 4px;

body {
  margin: auto;
  font-family: "Helvetica", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
