@import "../styles/global.scss";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main_divider {
  background-color: black;
  height: 0.5vh;
}

.main_header {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 8px;
}

.main_name {
  font-size: $h1;
  font-weight: 400;
  margin: 0 0 0 0.5em;
}

.main_navbar {
  margin-right: 2em;
}

.main_section1 {
  background-size: 100vw;
  color: white;
  height: 75vh;
}

// Dims the background image
.main_section1 > div {
  background-color: #000000aa;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main_section2 {
  background-size: 100vw;
  background-color: #bbbbbb;
  color: white;
}

// Dims the background image
.main_section2 > div {
  background-color: #000000d6;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main_section3 {
  align-items: center;
  background-color: #1e74b1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_section_title {
  font-size: $h2;
  margin: 0.5em 0;
}
