@import '../styles/global.scss';

.main_header {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 100%;
}

.main_name {
    font-size: $h1;
    margin: 0 0 0 0.5em;
}

.main_navbar {
    margin-right: 2em;
}