@import "../styles/global.scss";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main_header {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 8px;
}

.main_image_dim {
  background-color: #000000aa;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main_name {
  font-size: $h1;
  font-weight: 400;
  margin: 0 0 0 0.5em;
}

.main_navbar {
  margin-right: 2em;
}

.main_section1 {
  background-size: 100vw;
  color: white;
  height: 75vh;
}

.main_section_title {
  font-size: $h2;
}
