@import "../../styles/global.scss";

.contact_icon {
  height: $h1;
  width: $h1;
}

.contact_item {
  align-items: center;
  border-radius: $rounded_corners;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0 1em;
  padding: 0.5em;
  width: 4em;
}

.contact_item:hover {
  // TODO: better hover css
  background-color: #555555;
}

.contact_label {
  font-size: $h5;
  margin: 0.5em 0 0;
}

.contact_list {
  align-items: center;
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  justify-content: center;
}
