@import '../../styles/global.scss';

@keyframes bobbing-animation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}

.contact_icon {
    height: $h2;
    width: $h2;
}

.contact_icon:hover,
.contact_icon:focus,
.contact_icon:active {
    animation-name: bobbing-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.contact_item {
    align-items: center;
    border-radius: $rounded_corners;
    cursor: pointer;
    display: flex;
    font-size: $h5;
    flex-direction: column;
    margin: 0 1em;
    padding: 0.5em;
    width: 4em;
}

.contact_item:hover,
.contact_item:focus,
.contact_item:active {
    background-color: #858585aa;
}

.contact_label {
    font-size: $h6;
    margin: 0.5em 0 0;
}

.contact_list {
    align-content: center;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}
